<h1>Restaurants#index</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li>
  <%= link_to "#{restaurant.name} - #{restaurant.reviews.size} review", restaurant_path(restaurant) %>
  </li>
<% end %>
</ul>